.drawer {
  position: fixed;
  display: flex;
  top: 0;
  left: -2000px;
  width: 100%;
  height: 100%;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  transition: left 0.3s ease;
  z-index: 1000;
}
.drawer-content {
  background-color: #fff;
  width: 25%
}
.drawer.active {
  left: 0;
}
.drawer-content {
  padding: 20px;
}
.head-side-menu{
  display: flex;
  width: 100%;
  height: 4rem;
  background: #0d1b34;
  justify-content: baseline;
  align-items: center;
  gap: .5rem;
  color: #fff;
}

.head-side-menu img{
  width: 50px;
  height:50px;
  border-radius: 50px;
  background: #c5c5c6;
  padding: .5rem;
}
.head-side-menu p{
  font-size: 2rem;
  font-weight: 700;
}
  
.close-btn-wrapper {
  width: 100%;
  height: 100%;
  top: 0;
}
.close-btn {
  position: relative;
  top: 0px;
  color: wheat;
  background: #4b4343;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border: 1px solid #b7b2b2;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

section{
  padding: 10px;
}
section h4{
  font-size: 1.5rem;
  font-weight: 700
}
ul li{
  padding: .5rem;
  list-style: none;
  text-decoration: none;
}
li a {
  text-decoration: none;
  font-size: 1.2rem;
  color: black;
}
