.btn {
  padding: 5px 15px;
  border: 1px solid;
  border-radius: var(--border-radius-sm);
  cursor: pointer;
  font-size: 13px;
  text-align: center;
  display: inline-block;
}

.btn-primary {
  background-color: var(--color-amazon-orange);
  border-color: #ff8f00; /* کمی تیره‌تر برای عمق */
  color: var(--color-text-dark); /* متن تیره روی نارنجی */
  font-weight: bold;
}

.btn-primary:hover {
  background-color: #ff8500; /* تیره‌تر شدن هنگام هوور */
}
