@import url("../base/variables.css");
@import url("../base/_reset.css");

.header {
  background-color: var(--color-amazon-blue-dark);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  height: 4.5rem;
}
.logo img {
  width: 100px;
  margin: 0 15px;
}

.nav-languge,
.nav-signIn,
.cart-view {
  white-space: nowrap;
  flex-shrink: 0;
  padding: 1rem;
}

.country {
  display: flex;
  align-items: center;
  min-width: 200px;
  padding: .5rem;
  
}
.nav-country-name {
  align-items: end;
  font-size: 13px;
}
.nav-country-name p {
  color: #5e5252;
}
.nav-country-name h1 {
  font-weight: 600;
  color: #fff;
}

.search-bar-container {
  position: relative;
  display: flex;
  flex: 1;
  align-items: center;
  background: #fff;
  color: gray;
  min-width: 200px;
  max-width: 50%;
  height: 2.5rem;
  border-radius: 4px;
  margin-left: 15px;
}

.search-bar-container:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
}
.search-bar-container button {
  width: 3rem;
  height: 2.5rem;
  border: none;
  position: absolute;
  border-radius: 4px 0 0 4px;
  background: #BBBBBB;
}

.search-bar-container input {
  outline: none;
  width: 100%;
  padding: var(--spacing-xs);
  height: 2.5rem;
  margin-left: 3.3rem;
  background: #F3F8F5;
  border: none;
  
  border-radius: var(--border-radius-sm);
}
.search-bar-container i {
  align-content: center;
  align-items: center;
  display: flex;
  background: #FEBD69;
  font-size: large;
  color: gray;
}
.bx-search {
  justify-content: center;
  align-items: center;
  justify-items: center;
  width: 3rem;
  height: 2.5rem;
  display: flex;
  background: #e3e6e6;
  font-size: large;
  border-radius: 0 4px 4px 0;
}


.nav-links {
  display: flex;
  align-items: center;
  justify-content: baseline;
  gap: 3px;
  margin-right: 1rem;
  
}
.liBorder:hover{
 border: 1px solid;
}
.nav-links a {
  color: white;
}
.nav-languge,
.nav-text,
.nav-country {
  margin: 0;
  white-space: nowrap;
}
.nav-languge {
  display: flex;
  align-items: center;
  gap: 3px;
}
.nav-signIn {
  display: flex;
  flex-direction: column;
}
.nav-signIn p {
  font-size: 10px;
}
.nav-signIn h1 {
  font-size: 14px;
}

.cart-icon-wrapper {
  position: relative;
  top: 5px;
  right: 8px;
}
.cart-count-badge {
  position: absolute;
  top:8px;
  right: 40px;
  background-color: #f08804; /* رنگ نارنجی آمازونی */
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
  font-weight: bold;
  min-width: 15px;
  text-align: center;
}
.cart-icon-wrapper p {
  font-size: 2rem;
  color: white;
  z-index: 1000;
}
.cart-icon-wrapper img {
  width: 40px;
  height: auto;
}

.cart-view img{
  width: 3.5rem;
  height: 2rem;
}