
.nav {
  display: flex;
  align-items: center;
  background: var(--color-amazon-blue-light);
  color: #fff;
}
.nav div {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 500;
  font-size: 18px;
}
.nav p {
  padding: 4px;
}
